<!-- templates/store/checkout.html -->
<h2>Checkout</h2>
<form action="{% url 'payment_success' %}" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="{{ razorpay_key_id }}" data -
        amount="{{ amount }}" data - currency="INR" data - order_id="{{ razorpay_order_id }}" data -
        buttontext="Pay with Razorpay" data - name="E-commerce Store" data - description="Order Payment" data -
        theme.color="#F37254">
        </script>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>